.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
}
.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
}
.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/Like-unclicked.svg) center no-repeat;
  width: 21px;
  height: 21px;
  border-style: none;
  cursor: pointer;
}
.card__like-button_active {
  background-image: url(../images/like-active.svg);
}
.card__like-button:hover {
  opacity: 0.5;
}

.card__delete-button {
  background: transparent url(../images/Trash.svg) center no-repeat;
  position: absolute;
  top: 18px;
  right: 15px;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

.card__delete-button:hover {
  opacity: 0.6;
}
