.footer {
  flex-shrink: 0;
  padding: 35px 0 60px;
}
.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  color: #545454;
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 30px 0 36px;
    margin: 0;
  }
}
