.footer {
  max-width: 880px;
}
.footer__copyright {
  margin-top: 60px;
  margin-bottom: 60px;
  color: #545454;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
