.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 19px;
  display: none;
}
.modal_opened {
  display: flex;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  width: 358px;
}
.modal__close {
  background-image: url(../images/Close-Icon.svg);
  border: none;
  width: 40px;
  height: 40px;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  cursor: pointer;
}
.modal__close:hover {
  opacity: 0.6;
}
.modal__heading {
  color: #000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 54px 0;
}
.modal__form-title {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 358px;
  height: 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 30px;
  padding: 0;
}
.modal__form-description {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 358px;
  height: 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 48px;
  padding: 0;
}

.modal__button {
  background-color: #000;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  padding: 0;
}

@media screen and (max-width: 480px) {
  .modal__container {
    padding: 25px 22px 25px 22px;
    width: 238px;
  }
  .modal__close {
    height: 26px;
    width: 26px;
    bottom: calc(100% + 13px);
    left: 90%;
  }
  .modal__heading {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 75px 0;
  }
  .modal__form-title {
    max-width: 238px;
  }
  .modal__form-description {
    max-width: 238px;
  }
  .modal__button {
    max-width: 238px;
    font-size: 14px;
    line-height: 17px;
  }
}
