.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 51px;
}
.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  grid-gap: 9px 17px;
  align-items: center;
}
.profile__edit-button {
  background: transparent url(../images/edit-icon.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px solid #ffffff;
  margin-right: 20px;
}
.profile__edit-button:hover {
  opacity: 0.6;
}
.profile__add-button {
  background: transparent url(../images/plus-icon.svg) center no-repeat;
  height: 50px;
  width: 150px;
  margin-left: auto;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.profile__add-button:hover {
  opacity: 0.6;
}
.profile__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}
.profile__description {
  grid-area: description;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}
@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }
  .profile__image {
    margin: 0;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    padding-top: 36px;
    padding-bottom: 36px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .profile__title {
    justify-content: center;
    align-items: center;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
  }

  .profile__description {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  .profile__add-button {
    margin: 0;
    width: 100%;
    max-width: 282px;
    max-height: 50px;
    padding: 0;
  }
  .profile__edit_button {
    width: 18px;
    height: 18px;
  }
}
